# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: Post request Dp.hant.Kiev.ua/deploy.php
  displayName: 'Run a one-line script'

- script: |
    Invoke-WebRequest -UseBasicParsing Dp.hant.Kiev.ua/deploy.php -ContentType "application/json" -Method POST -Body "{ 'Env':'prod', 'project':'io-msac'}"
  displayName: 'Run a multi-line script'
