# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    curl --user deploy:Secret2010 -d "env=prod&project=io-msac" -H "Content-Type:application/x-www-form-urlencoded" -X POST "https://dp.hant.kiev.ua/deploy.php"
  displayName: 'Sending POST request to dp.hant.dkiev.ua'
