# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    $user = 'deploy'
    $pass = 'Secret2010'
    $pair = "$($user):$($pass)"
    $encodedCreds = [System.Convert]::ToBase64String([System.Text.Encoding]::ASCII.GetBytes($pair))
    $basicAuthValue = "Basic $encodedCreds"
    $Headers = @{ Authorization = $basicAuthValue }
    Invoke-WebRequest -Method POST -Headers $Headers -ContentType "application/x-www-form-urlencoded" -uri 'https://Dp.hant.Kiev.ua/deploy.php?env=prod&project=io-msac'
  displayName: 'Sending POST request to dp.hant.dkiev.ua'
